$color__skin: #00A651; // Header etc
$color__demo-skin:#527c66;
$color__headings:white;
$color__paragraph-body:white;
$color__background-body:white;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button:  #00A651;
$color__background-button-widget:#f2f2f2;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: black;
$color__text-input-focus: #111;
$color__link: white;
$color__link-button: black;
$color__link-visited: purple;
$color__link-hover: black;
$color__text-main: #404040;

$color__border-button:  #00A651  #00A651  #00A651;
 $color__border-button-widget: white white white;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
